[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests
pyobjc-framework-SecurityFoundation
six
macsesh = {editable = true,path = "."}


[requires]
python_version = "3.8"
